$sidebar-bg: #142432;

.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    background: $sidebar-bg;
    border-right: 1px solid $gray-300;

    nav {
        padding-bottom: $p-12;
        padding-top: $p-3;

        > ul {
            padding-left: $p-6;
            padding-right: $p-6;  
        }
    }

    .category {
        font-size: $text-lg;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        font-weight: 500;
        font-family: Kanit;
        color: $gray-200;
        padding-bottom: $p-2;
        margin: $m-5 $m-0 $m-2 $m-0;
    }

    .section-header {
        color: $gray-100;
        display: block;
        letter-spacing: 0.8px;
        line-height: $h-12;
        height: $h-12;
        margin: $m-3 $m-0 $m-1;
        padding: $p-2 $p-6;

        font-size: $text-3xl;
        font-weight: 400;
        font-family: Kanit;
    }

    .separator {
        margin-top: $m-5;
        padding-top: $p-5;
        border-top: 1px solid lighten($sidebar-bg, 10);
    }

    .back {
        background: url(/music-docs/icons/back.svg) no-repeat left top;
        background-size: 13px 13px;
        padding: $p-0;
        margin-left: $p-6;
        padding-left: $p-4;
        display: block;
        color: $gray-600;
        line-height: $text-sm;
        font-size: $text-sm;
        font-family: Kanit;
        font-weight: 400;
        text-decoration: none;
    }
}

.sidebar-item {
    a {
        color: $gray-400;
        display: block;
        font-size: $text-base;
        padding: $p-1 $p-4 $p-1 0;
        line-height: $leading-tight;
        position: relative;
        text-decoration: none;

        &:hover {
            color: lighten($regiocast-blue, 20);
        }
    }

    &.selected a {
        color: lighten($regiocast-blue, 20);
    }

    ul {
        margin-left: $m-4;
        display: none;
    }

    &.expand ul {
        display: block;
    }
}

.sidebar header {
    width: 100%;
    box-sizing: border-box;
    padding: $p-8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    .logo {
        font-size: $text-3xl;
        font-weight: 700;
        text-decoration: none;
        color: $white;
        -webkit-font-smoothing: antialiased;
        user-select: none;
    }
}

@media screen and
    (max-width: 800px),
    (max-device-width: 800px) {

    .sidebar {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        transition: left 0.2s ease-in-out;
        z-index: 3;

        top: 0px;
        bottom: 0px;
        left: ($sidebar-width + 1px) * -1;
        width: $sidebar-width;

        &.open {
            left: 0px;
            display: block;
        }

        .logo {
            display: none;
        }

        .menu {
            display: flex;
            align-items: center;
            height: 56px;
            box-sizing: border-box;
            padding-left: $p-6;
        }

        .close {
            @include user-select-none;

            width: 30px;
            height: 30px;
            display: inline-block;
            background: url("/images/arrow-left.svg");
            background-size: 30px;
        }

        .back {
            display: none;
        }
    }
}