<div class="sidebar">
    <a class="logo" href="{{ relURL .Site.BaseURL }}" aria-label="Home">Docs</a>

    <div class="menu" aria-hidden="true">
        <button class="close"></button>
    </div>

    <nav>
        <ul>
            <li class="sidebar-item selected"><a href="{{ .URL }}" class="selected">Home</a></li>
            <li class="category separator">Installation</li>
            <li class="sidebar-item"><a href="/music-docs/server/overview">Overview</a></li>
            <li class="category separator">Reference</li>
            <li class="sidebar-item"><a href="/music-docs/api/">API</a></li>
            <li class="category separator">Code generation</li>
            <li class="sidebar-item"><a href="/music-docs/swagger/">Swagger</a></li>
        </ul>
    </nav>
</div>